{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "OpenWeather",
    "description" : "Open Weather Map API",
    "version" : "0.1"
  },
  "servers" : [ {
    "url" : "http://api.openweathermap.org"
  } ],
  "paths" : {
    "/data/2.5/find" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "q=portland,us"
        }, {
          "name" : "appid",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "appid=5eeb2db6a0fbf956e6915df00b2b365d"
        }, {
          "name" : "units",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "units=imperial"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"message\":\"accurate\",\"cod\":\"200\",\"count\":1,\"list\":[{\"id\":2643743,\"name\":\"London\",\"coord\":{\"lat\":51.5085,\"lon\":-0.1258},\"main\":{\"temp\":68.97,\"pressure\":1015,\"humidity\":82,\"temp_min\":64.4,\"temp_max\":73.4},\"dt\":1527774600,\"wind\":{\"speed\":8.05,\"deg\":70},\"sys\":{\"country\":\"GB\"},\"rain\":null,\"snow\":null,\"clouds\":{\"all\":75},\"weather\":[{\"id\":701,\"main\":\"Mist\",\"description\":\"mist\",\"icon\":\"50d\"},{\"id\":201,\"main\":\"Thunderstorm\",\"description\":\"thunderstorm with rain\",\"icon\":\"11d\"},{\"id\":721,\"main\":\"Haze\",\"description\":\"haze\",\"icon\":\"50d\"},{\"id\":522,\"main\":\"Rain\",\"description\":\"heavy intensity shower rain\",\"icon\":\"09d\"}]}]}"
                  },
                  "1" : {
                    "value" : "{\"message\":\"accurate\",\"cod\":\"200\",\"count\":5,\"list\":[{\"id\":4720131,\"name\":\"Portland\",\"coord\":{\"lat\":27.8768,\"lon\":-97.3234},\"main\":{\"temp\":84.2,\"pressure\":1011,\"humidity\":70,\"temp_min\":82.4,\"temp_max\":86},\"dt\":1527774960,\"wind\":{\"speed\":17.22,\"deg\":180,\"gust\":10.8},\"sys\":{\"country\":\"US\"},\"rain\":null,\"snow\":null,\"clouds\":{\"all\":40},\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}]},{\"id\":4975802,\"name\":\"Portland\",\"coord\":{\"lat\":43.661,\"lon\":-70.2549},\"main\":{\"temp\":67.55,\"pressure\":1018,\"humidity\":41,\"temp_min\":60.8,\"temp_max\":75.2},\"dt\":1527774660,\"wind\":{\"speed\":3.36},\"sys\":{\"country\":\"US\"},\"rain\":null,\"snow\":null,\"clouds\":{\"all\":1},\"weather\":[{\"id\":800,\"main\":\"Clear\",\"description\":\"sky is clear\",\"icon\":\"01d\"}]},{\"id\":5746545,\"name\":\"Portland\",\"coord\":{\"lat\":45.5202,\"lon\":-122.6742},\"main\":{\"temp\":50.43,\"pressure\":1013,\"humidity\":66,\"temp_min\":48.2,\"temp_max\":53.6},\"dt\":1527774960,\"wind\":{\"speed\":3.15,\"deg\":246.503},\"sys\":{\"country\":\"US\"},\"rain\":null,\"snow\":null,\"clouds\":{\"all\":75},\"weather\":[{\"id\":803,\"main\":\"Clouds\",\"description\":\"broken clouds\",\"icon\":\"04d\"}]},{\"id\":4650946,\"name\":\"Portland\",\"coord\":{\"lat\":36.5817,\"lon\":-86.5164},\"main\":{\"temp\":78.76,\"pressure\":1014,\"humidity\":78,\"temp_min\":77,\"temp_max\":80.6},\"dt\":1527774960,\"wind\":{\"speed\":9.17,\"deg\":220},\"sys\":{\"country\":\"US\"},\"rain\":null,\"snow\":null,\"clouds\":{\"all\":1},\"weather\":[{\"id\":800,\"main\":\"Clear\",\"description\":\"sky is clear\",\"icon\":\"01d\"}]},{\"id\":4925037,\"name\":\"Portland\",\"coord\":{\"lat\":40.4345,\"lon\":-84.9778},\"main\":{\"temp\":75.96,\"pressure\":1010,\"humidity\":83,\"temp_min\":73.4,\"temp_max\":78.8},\"dt\":1527774540,\"wind\":{\"speed\":11.41,\"deg\":190},\"sys\":{\"country\":\"US\"},\"rain\":null,\"snow\":null,\"clouds\":{\"all\":40},\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}]}]}"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : { }
}